:root {
    --brand-color: #1f1f1f;
    --brand-color-light: #f5f5f5;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form-row label {
    font-weight: 700;
}

.form-row input[type="text"] {
    border: 1px solid var(--brand-color);
    border-radius: 0.5rem;
    color: var(--brand-color);
    padding: 0.5rem 1rem;
    outline: none;
}

.form-row input[type="text"]:focus {
    background-color: var(--brand-color-light);
    border: 1px solid var(--brand-color);
}

.form-row button,
.form-row input[type="button"],
.form-row .btn-reset {
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
    border-radius: 0.5rem;
    color: var(--brand-color-light);
    padding: 0.5rem 1rem;
    outline: none;
    text-align: center;
}

.btn-reset {
    color: darkred;
    font-weight: 700;
    text-decoration: underline;
}
